<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
<body>
    <%- include('includes/header') %>
    
    <main>
         <h3> Login Page</h3>
         <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam beatae aperiam quidem laudantium quibusdam nam dicta assumenda, quam asperiores, atque explicabo vel tempora quo obcaecati, distinctio iure dolorem quae minima?
         </p>
    </main>

    <%- include('includes/footer') %>
</body>
</html>